body{
    background-color: rgb(2, 18, 6);
    height: 700px;
    border: 1mm double rgb(245, 242, 176);
    color: rgb(245, 242, 176);
}

.second-col{
    width: 18%;
    border-left: 1px solid;
    height: 700px;
}
.first-col{
    width: 60%;
}

.output-text{
    margin-top: 0px;
    line-height: 7mm;
    font-weight: bolder;

}
.text-heading{
    font-weight: bolder;
    font-size: x-large;
}

.section2, .section1{
    margin-left: 15px;
    
}

.meme-btn, .joke-btn, .quote-btn, .riddle-btn{
height: 40px;
width: 200px;
background-color: rgb(2, 18, 6);
margin-top: 10px;

font-size: large;
color: rgb(245, 242, 176);
border: 1mm medium ;
border-color: rgb(222, 199, 135);

}

.quotes-text, .jokes-text, .riddle-text{
    font-size: medium;
    font-family:  monospace;

}

img{
    height: 300px;
    width: auto;

}
